@font-face{
  font-family: "Fira";
  src: local("FiraLight"),url("../src/font/FiraCode-Light.ttf") format("truetype");
}


/* slick-carousel CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.App {
  background-color: rgb(16, 24, 47);
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.flashlight {
  position: absolute;
  width: 1000px; /* Adjust the size as needed */
  height: 1000px; /* Adjust the size as needed */
  background: radial-gradient(circle, rgba(62, 74, 106, 0.3) 0%, rgba(97, 114, 162, 0) 70%);
  pointer-events: none; /* So it doesn't interfere with mouse events */
  transform: translate(-50%, -50%); /* Center the effect around the cursor */
  border-radius: 50%;
  z-index: 1000; /* Make sure the flashlight is on top */
}


